<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>90/90 Rest Position Lumbar Spine</key>
	<string>1</string>
	<key>AAROM Elbow Flexion</key>
	<string>2</string>
	<key>AAROM Flexion Prone</key>
	<string>1</string>
	<key>AAROM Internal Rotation/Extension</key>
	<string>2</string>
	<key>AAROM Knee Flexion on Wall</key>
	<string>1</string>
	<key>AAROM Seated Flexion</key>
	<string>1</string>
	<key>AAROM flexion</key>
	<string>3</string>
	<key>AROM Ankle Dorsiflexion</key>
	<string>2</string>
	<key>AROM Ankle Eversion</key>
	<string>2</string>
	<key>AROM Ankle Inversion</key>
	<string>2</string>
	<key>AROM Ankle Plantar Flexion</key>
	<string>2</string>
	<key>AROM Cervical Extension</key>
	<string>2</string>
	<key>AROM Cervical Flexion</key>
	<string>2</string>
	<key>AROM Cervical Rotation</key>
	<string>3</string>
	<key>AROM Cervical SideBending</key>
	<string>3</string>
	<key>Abdominal Stabilization 1</key>
	<string>3</string>
	<key>Abdominal Stabilization 2</key>
	<string>3</string>
	<key>Abdominal Stabilization 3</key>
	<string>3</string>
	<key>Abdominal Stabilization 4</key>
	<string>2</string>
	<key>Abdominal Stabilization 5</key>
	<string>3</string>
	<key>Abdominal Stabilization 6</key>
	<string>2</string>
	<key>Abdominal Stabilization 7</key>
	<string>3</string>
	<key>Abdominal Stabilization Heel Slides</key>
	<string>3</string>
	<key>Abdominal Stretch</key>
	<string>2</string>
	<key>Abductor Squats</key>
	<string>2</string>
	<key>Adductor Butterfly Stretch</key>
	<string>1</string>
	<key>Ankle Dorsiflexion Isometric</key>
	<string>1</string>
	<key>Ankle Eversion Isometric</key>
	<string>1</string>
	<key>Ankle Inversion Isometric</key>
	<string>1</string>
	<key>Ankle Plantar Flexion Isometric</key>
	<string>1</string>
	<key>Ankle Towel Stretch</key>
	<string>2</string>
	<key>Anterior Ankle Stretch</key>
	<string>1</string>
	<key>Anterior Cervical Strengthening</key>
	<string>2</string>
	<key>Anterior Cervical Strengthening Supine</key>
	<string>3</string>
	<key>Anterior Cervical Strengthening with Rotation</key>
	<string>3</string>
	<key>Anterior Neck Strengthening</key>
	<string>2</string>
	<key>Ball Lunges</key>
	<string>3</string>
	<key>Ball Stabilization - Abdominal Crunches</key>
	<string>2</string>
	<key>Ball Stabilization - Alternate Lower Extremity Step</key>
	<string>3</string>
	<key>Ball Stabilization - Lean Back</key>
	<string>2</string>
	<key>Ball Stabilization - Prayer Exercise</key>
	<string>2</string>
	<key>Ball Stabilization - Prone Hip Extension</key>
	<string>2</string>
	<key>Ball Stabilization - Prone Lumbar Extension</key>
	<string>2</string>
	<key>Ball Stabilization - Seated Alternate Arm Raise</key>
	<string>3</string>
	<key>Ball Stabilization - Seated Opposite Arm and Leg</key>
	<string>3</string>
	<key>Ball Stabilization - Supine Alternate Leg Lift</key>
	<string>3</string>
	<key>Ball Stabilization - Walkouts</key>
	<string>3</string>
	<key>Bent Over Row</key>
	<string>2</string>
	<key>Biceps Curl</key>
	<string>2</string>
	<key>Bilateral Heel Raise on Step</key>
	<string>2</string>
	<key>Bilateral Pectoralis Stretch</key>
	<string>1</string>
	<key>Braiding</key>
	<string>4</string>
	<key>Bridging</key>
	<string>2</string>
	<key>Bridging on Ball</key>
	<string>2</string>
	<key>Bridging with Step</key>
	<string>3</string>
	<key>Bridging with Straight Leg Raise</key>
	<string>1</string>
	<key>Cat/Cow Stretch</key>
	<string>3</string>
	<key>Cervical Eye Exercises - Contralateral</key>
	<string>3</string>
	<key>Cervical Eye Exercises - Ipsilateral</key>
	<string>1</string>
	<key>Cervical Isometric - Extension</key>
	<string>1</string>
	<key>Cervical Isometric - Flexion</key>
	<string>1</string>
	<key>Cervical Isometric - Rotation</key>
	<string>1</string>
	<key>Cervical Isometric - Sidebending</key>
	<string>1</string>
	<key>Cervical Retraction</key>
	<string>2</string>
	<key>Cervical Retraction - Supine</key>
	<string>2</string>
	<key>Cervical Segmental Isometric</key>
	<string>1</string>
	<key>Cervical Segmental Rotation</key>
	<string>3</string>
	<key>Cervical Stabilization - Rotation</key>
	<string>2</string>
	<key>Cervical Stabilization - Seated Extension</key>
	<string>2</string>
	<key>Cervical Stabilization - Seated Rotation</key>
	<string>2</string>
	<key>Chest Press/Horizontal Adduction</key>
	<string>2</string>
	<key>Codmans/Pendular Exercises</key>
	<string>3</string>
	<key>Common Extensor Tendon Stretch</key>
	<string>1</string>
	<key>Common Extensor Tendon Stretch - Ulnar Deviation Bias</key>
	<string>2</string>
	<key>Common Flexor Tendon Stretch</key>
	<string>1</string>
	<key>Cone Walk</key>
	<string>3</string>
	<key>Double Knees to Chest</key>
	<string>1</string>
	<key>Eccentric Gastrocnemius Strengthening</key>
	<string>3</string>
	<key>Eccentric Wrist Extension</key>
	<string>2</string>
	<key>Edema Control Positioning</key>
	<string>1</string>
	<key>Elbow AROM</key>
	<string>2</string>
	<key>Exercise Band Ankle Dorsiflexion</key>
	<string>2</string>
	<key>Exercise Band Ankle Eversion</key>
	<string>2</string>
	<key>Exercise Band Ankle Inversion</key>
	<string>2</string>
	<key>Exercise Band Ankle Plantar Flexion</key>
	<string>2</string>
	<key>Exercise Band Balance Drill - Extension</key>
	<string>3</string>
	<key>Exercise Band Balance Drill - Flexion</key>
	<string>3</string>
	<key>Exercise Band Elbow Extension</key>
	<string>2</string>
	<key>Exercise Band Elbow Flexion</key>
	<string>2</string>
	<key>Exercise Band External Rotation Seated</key>
	<string>2</string>
	<key>Exercise Band Flexion</key>
	<string>2</string>
	<key>Exercise Band Hip Abduction</key>
	<string>2</string>
	<key>Exercise Band Hip Adduction</key>
	<string>2</string>
	<key>Exercise Band Hip Adduction - Supine</key>
	<string>2</string>
	<key>Exercise Band Hip Extension</key>
	<string>2</string>
	<key>Exercise Band Hip Flexion</key>
	<string>2</string>
	<key>Exercise Band Lat Pulldowns</key>
	<string>2</string>
	<key>Exercise Band Pronation</key>
	<string>2</string>
	<key>Exercise Band Scapular Rows</key>
	<string>2</string>
	<key>Exercise Band Shoulder Abduction</key>
	<string>2</string>
	<key>Exercise Band Shoulder Adduction</key>
	<string>0</string>
	<key>Exercise Band Shoulder Extension</key>
	<string>2</string>
	<key>Exercise Band Supination</key>
	<string>2</string>
	<key>Exercise Band Walking Backward</key>
	<string>3</string>
	<key>Exercise Band Walking Forward</key>
	<string>3</string>
	<key>Exercise Band Wrist Extension</key>
	<string>2</string>
	<key>Exercise Band Wrist Flexion</key>
	<string>2</string>
	<key>Extension Isotonic</key>
	<string>2</string>
	<key>External Rotation with Exercise Band</key>
	<string>2</string>
	<key>External Rotation/Abduction Stretch</key>
	<string>1</string>
	<key>Flexor Tendon Stretch</key>
	<string>1</string>
	<key>Forward Step down</key>
	<string>2</string>
	<key>Four Point Alternate Arm Raise</key>
	<string>0</string>
	<key>Four Point Alternate Arm and Leg Raise</key>
	<string>3</string>
	<key>Four Point Alternate Leg Raise</key>
	<string>3</string>
	<key>Four Point Shoulder Proprioception</key>
	<string>3</string>
	<key>Four Point Stabilization</key>
	<string>1</string>
	<key>Four Point Trunk Rotation</key>
	<string>1</string>
	<key>Gait Training - Push-Off</key>
	<string>3</string>
	<key>Gastrocnemius Stretch</key>
	<string>1</string>
	<key>Gastrocnemius Stretch Off Step</key>
	<string>1</string>
	<key>Gastrocnemius Stretch On Wall</key>
	<string>1</string>
	<key>Glut Max Retraining</key>
	<string>3</string>
	<key>Glut Set</key>
	<string>1</string>
	<key>Gluteus Medius 1</key>
	<string>2</string>
	<key>Gluteus Medius 2</key>
	<string>2</string>
	<key>Gluteus Medius 3</key>
	<string>2</string>
	<key>Gravity Assisted Elbow Extension</key>
	<string>1</string>
	<key>Great Toe Extension Strength</key>
	<string>2</string>
	<key>Great Toe Extension Stretch</key>
	<string>1</string>
	<key>Gripping</key>
	<string>1</string>
	<key>Hammer Curl</key>
	<string>1</string>
	<key>Hamstring Curl on Ball</key>
	<string>2</string>
	<key>Hamstring Set</key>
	<string>1</string>
	<key>Hamstring Stretch - Hurdle Style</key>
	<string>1</string>
	<key>Hamstring Stretch Supine</key>
	<string>2</string>
	<key>Hamstring Stretch on Step</key>
	<string>1</string>
	<key>Hamstring Stretch on Wall</key>
	<string>1</string>
	<key>Heel Raises - Single Leg</key>
	<string>2</string>
	<key>Heel Raises - two-legged</key>
	<string>2</string>
	<key>Heel Slides</key>
	<string>2</string>
	<key>Heel Walking</key>
	<string>2</string>
	<key>Heelslides with towel</key>
	<string>2</string>
	<key>Hip Abduction Isometric</key>
	<string>1</string>
	<key>Hip Adduction Isometric</key>
	<string>1</string>
	<key>Hip Adduction Isometric Seated</key>
	<string>1</string>
	<key>Hip External Rotation Stretch</key>
	<string>1</string>
	<key>Hip Flexion Isometric</key>
	<string>1</string>
	<key>Hip Flexor Stretch - Thomas Stretch</key>
	<string>1</string>
	<key>Hip Flexor/Quad Stretch</key>
	<string>2</string>
	<key>Horizontal Abduction Isotonic</key>
	<string>2</string>
	<key>Iliotibial Band Release - foam roller</key>
	<string>1</string>
	<key>Iliotibial Band Stretch Sidelying</key>
	<string>1</string>
	<key>Inferior Capsule Stretch</key>
	<string>1</string>
	<key>Internal Rotation at 90/90 with Exercise Band</key>
	<string>2</string>
	<key>Internal Rotation with Exercise Band</key>
	<string>2</string>
	<key>Internal Rotation/Extension AAROM</key>
	<string>2</string>
	<key>Jar Roll</key>
	<string>2</string>
	<key>Knee Extension Stretch Supine</key>
	<string>1</string>
	<key>Kneeling Hip Flexor Stretch</key>
	<string>1</string>
	<key>Lateral Flexion Stretch</key>
	<string>2</string>
	<key>Lateral Step Down</key>
	<string>2</string>
	<key>Levator Scapulae Stretch</key>
	<string>1</string>
	<key>Long Arc Quad</key>
	<string>2</string>
	<key>Lower Cervical Extension with Upper Stabilization</key>
	<string>3</string>
	<key>Lower Cervical Extension with Upper Stabilization - Prone</key>
	<string>2</string>
	<key>Lower Cervical Flexion with Thoracic Stabilization</key>
	<string>2</string>
	<key>Lower Cervical Flexion with Upper Cervical Stabilization</key>
	<string>2</string>
	<key>Lower Trunk Rotation</key>
	<string>3</string>
	<key>Lower Trunk Rotation Table Top</key>
	<string>3</string>
	<key>Lumbar Extension Isometric</key>
	<string>2</string>
	<key>Lumbar Rotation</key>
	<string>3</string>
	<key>Lumbar Stretch</key>
	<string>2</string>
	<key>Lumbar Traction over Table</key>
	<string>1</string>
	<key>Lunges</key>
	<string>2</string>
	<key>Lunges with Exercise Band</key>
	<string>2</string>
	<key>Monster Walks</key>
	<string>2</string>
	<key>PNF Exercise Band</key>
	<string>2</string>
	<key>PNF Exercise Band - on Ball</key>
	<string>2</string>
	<key>PNF Exercise Band - one handed</key>
	<string>2</string>
	<key>PNF Exercise Band - one handed on Ball</key>
	<string>2</string>
	<key>Pilates Spine Rotation</key>
	<string>3</string>
	<key>Piriformis Stretch</key>
	<string>1</string>
	<key>Plank</key>
	<string>1</string>
	<key>Plank - Arm Lift</key>
	<string>3</string>
	<key>Plank - Arm and Leg Lift</key>
	<string>3</string>
	<key>Plank - Leg Lift</key>
	<string>3</string>
	<key>Plantar Fascia Stretch</key>
	<string>1</string>
	<key>Posterior Capsule Stretch</key>
	<string>2</string>
	<key>Pretzel Stretch</key>
	<string>1</string>
	<key>Pronation and Supination</key>
	<string>3</string>
	<key>Prone Ball Stabilization - Alternate Arm</key>
	<string>3</string>
	<key>Prone Ball Stabilization - Alternate Arm and Leg</key>
	<string>3</string>
	<key>Prone Ball Stabilization - Alternate Leg</key>
	<string>3</string>
	<key>Prone Ball Stabilization - Ipsilateral Arm and Leg</key>
	<string>3</string>
	<key>Prone Cervical Retraction</key>
	<string>2</string>
	<key>Prone Cervical Stabilization</key>
	<string>2</string>
	<key>Prone Cervical Stabilization with Rotation 1</key>
	<string>4</string>
	<key>Prone Cervical Stabilization with Rotation 2</key>
	<string>4</string>
	<key>Prone Extension</key>
	<string>2</string>
	<key>Prone Extension Shoulder Flexion</key>
	<string>2</string>
	<key>Prone External Rotation</key>
	<string>2</string>
	<key>Prone Hamstring Curl</key>
	<string>2</string>
	<key>Prone Hip Extension Abduction</key>
	<string>3</string>
	<key>Prone Hip Internal and External Rotation</key>
	<string>3</string>
	<key>Prone Knee Extension Stretch</key>
	<string>1</string>
	<key>Prone Lying</key>
	<string>1</string>
	<key>Prone Posterior Caspule Stretch</key>
	<string>1</string>
	<key>Prone Press-Up</key>
	<string>1</string>
	<key>Prone Stabilization Alternate Arm</key>
	<string>3</string>
	<key>Prone Stabilization Alternate Arm and Leg</key>
	<string>3</string>
	<key>Prone Stabilization Alternate Leg</key>
	<string>3</string>
	<key>Prone on Elbows</key>
	<string>1</string>
	<key>Pulleys - Shoulder</key>
	<string>2</string>
	<key>Quad Set</key>
	<string>1</string>
	<key>Radial Deviation</key>
	<string>2</string>
	<key>Radial Deviation with Exercise Band</key>
	<string>2</string>
	<key>Reverse Codmans</key>
	<string>3</string>
	<key>Reverse Curl</key>
	<string>2</string>
	<key>Reverse Plank</key>
	<string>1</string>
	<key>Rhomboid Stretch</key>
	<string>1</string>
	<key>Roll Over Plank</key>
	<string>4</string>
	<key>SLABIR</key>
	<string>2</string>
	<key>Sahrmann abduction on wall</key>
	<string>1</string>
	<key>Scalene Stretch</key>
	<string>1</string>
	<key>Scalene/Sternocleidomastoid Stretch</key>
	<string>1</string>
	<key>Scapular Retraction and Depression</key>
	<string>1</string>
	<key>Scapular Stabilization - Is</key>
	<string>2</string>
	<key>Scapular Stabilization - Ts</key>
	<string>2</string>
	<key>Scapular Stabilization - Ys</key>
	<string>2</string>
	<key>Seated Anterior Cervical Strengthening</key>
	<string>2</string>
	<key>Seated Anterior Cervical Strengthening Against Wall</key>
	<string>2</string>
	<key>Seated Cervical Stabilization</key>
	<string>2</string>
	<key>Seated Exercise Band Hamstring Curl</key>
	<string>2</string>
	<key>Seated Heel Raises</key>
	<string>2</string>
	<key>Seated Hip Flexion</key>
	<string>3</string>
	<key>Seated Internal and External Rotation</key>
	<string>3</string>
	<key>Seated Lumbar Flexion</key>
	<string>1</string>
	<key>Seated Piriformis Stretch</key>
	<string>1</string>
	<key>Seated Posture</key>
	<string>2</string>
	<key>Seated Quad Sets</key>
	<string>1</string>
	<key>Seated Scapular Depression</key>
	<string>2</string>
	<key>Seated Thoracic Rotation</key>
	<string>3</string>
	<key>Seated Thoracic Rotation 2</key>
	<string>3</string>
	<key>Seated Trunk Rotation with Exercise Band</key>
	<string>2</string>
	<key>Self Lumbar Traction</key>
	<string>2</string>
	<key>Serratus Punch</key>
	<string>2</string>
	<key>Short Arc Quad</key>
	<string>2</string>
	<key>Shoulder Abduction Isometric</key>
	<string>1</string>
	<key>Shoulder Abduction Isotonic</key>
	<string>2</string>
	<key>Shoulder Adduction Isometric</key>
	<string>1</string>
	<key>Shoulder Empty Can Isotonic</key>
	<string>1</string>
	<key>Shoulder Extension Isometric</key>
	<string>1</string>
	<key>Shoulder External Rotation Isometric</key>
	<string>1</string>
	<key>Shoulder Flexion Isometric</key>
	<string>1</string>
	<key>Shoulder Flexion Isotonic</key>
	<string>2</string>
	<key>Shoulder Internal Rotation Isometric</key>
	<string>1</string>
	<key>Shoulder Scaption Isotonic</key>
	<string>2</string>
	<key>Side Lie Flexion</key>
	<string>2</string>
	<key>Side Plank</key>
	<string>1</string>
	<key>Side Plank Arm Raise</key>
	<string>2</string>
	<key>Side Plank Arm and Leg Raise</key>
	<string>2</string>
	<key>Side Plank Leg Raise</key>
	<string>2</string>
	<key>Side lie Abduction</key>
	<string>2</string>
	<key>Sidelying External Rotation</key>
	<string>2</string>
	<key>Sidelying Hip Abduction on Ball</key>
	<string>2</string>
	<key>Sidelying Internal Rotation</key>
	<string>2</string>
	<key>Sidelying Quad Stretch</key>
	<string>1</string>
	<key>Single Heel Raise on Step</key>
	<string>2</string>
	<key>Single Knee to Chest - leg bent</key>
	<string>1</string>
	<key>Single Knee to Chest - leg straight</key>
	<string>1</string>
	<key>Sitting Posture with Lumbar Roll</key>
	<string>1</string>
	<key>Soleus Stretch</key>
	<string>1</string>
	<key>Squat with Exercise Band</key>
	<string>2</string>
	<key>Squats</key>
	<string>1</string>
	<key>Stabilization Against Gravity</key>
	<string>1</string>
	<key>Standing AA Flexion</key>
	<string>2</string>
	<key>Standing Abdominal Stabilization</key>
	<string>3</string>
	<key>Standing Extension</key>
	<string>1</string>
	<key>Standing Hamstring Curl</key>
	<string>2</string>
	<key>Standing Hip Flexion/Extension</key>
	<string>3</string>
	<key>Standing Hip Internal External Rotation</key>
	<string>3</string>
	<key>Standing Iliotibial Band Stretch</key>
	<string>1</string>
	<key>Standing Posterior Capsule Stretch</key>
	<string>1</string>
	<key>Standing Quad Stretch</key>
	<string>1</string>
	<key>Standing Staight Leg Raise Flexion</key>
	<string>2</string>
	<key>Standing Straight Leg Raise Extension</key>
	<string>2</string>
	<key>Standing Straight Leg Raise abduction</key>
	<string>2</string>
	<key>Standing Straight Leg Raise adduction</key>
	<string>2</string>
	<key>Standing Wand Abduction</key>
	<string>2</string>
	<key>Standing Wand Extension</key>
	<string>2</string>
	<key>Standing Wand Flexion</key>
	<string>2</string>
	<key>Standing Wand Internal Rotation/Extension</key>
	<string>2</string>
	<key>Step Up</key>
	<string>2</string>
	<key>Stool Scoots</key>
	<string>2</string>
	<key>Straight Leg Raise Abduction</key>
	<string>2</string>
	<key>Straight Leg Raise Extension</key>
	<string>2</string>
	<key>Straight Leg Raise Flexion 1</key>
	<string>2</string>
	<key>Straight Leg Raise adduction</key>
	<string>2</string>
	<key>Suboccipital Release</key>
	<string>1</string>
	<key>Suboccipital Stretch</key>
	<string>2</string>
	<key>Subocciptal Stretch and Upper Cervical Traction</key>
	<string>2</string>
	<key>Subscapularis Wings</key>
	<string>2</string>
	<key>Supine Flexion</key>
	<string>2</string>
	<key>Supine Internal Rotation and External Rotation</key>
	<string>2</string>
	<key>Supine Punch</key>
	<string>2</string>
	<key>Supine Rest Position</key>
	<string>3</string>
	<key>Supine Wand External Rotation</key>
	<string>2</string>
	<key>Supine Wand Flexion</key>
	<string>2</string>
	<key>Table Abduction</key>
	<string>2</string>
	<key>Table External Rotation</key>
	<string>2</string>
	<key>Table Flexion</key>
	<string>2</string>
	<key>Tennis Elbow Stretch</key>
	<string>1</string>
	<key>Terminal Knee Extension</key>
	<string>2</string>
	<key>Thoracic Extension over Chair</key>
	<string>2</string>
	<key>Thoracic Extension over Towel Roll or Foam Roller</key>
	<string>2</string>
	<key>Tib Posterior Tibialis Arch Pick-Ups</key>
	<string>2</string>
	<key>Tibialis Anterior Strengthening</key>
	<string>2</string>
	<key>Toe Raises</key>
	<string>2</string>
	<key>Towel Gather</key>
	<string>2</string>
	<key>Triceps Isotonic Supine</key>
	<string>2</string>
	<key>Triceps Kickback</key>
	<string>2</string>
	<key>Ulnar Deviation</key>
	<string>2</string>
	<key>Ulnar Deviation with Exercise Band</key>
	<string>2</string>
	<key>Unilateral Pectoralis Stretch</key>
	<string>1</string>
	<key>Upper Cervical Extension Isometric</key>
	<string>1</string>
	<key>Upper Cervical Extension with Middle Cervical Stabilization</key>
	<string>2</string>
	<key>Upper Cervical Extension with UE Weightbearing</key>
	<string>2</string>
	<key>Upper Cervical Stabilization in Weightbearing</key>
	<string>3</string>
	<key>Upper Trapezius Stretch</key>
	<string>1</string>
	<key>VMO Isometric Standing</key>
	<string>2</string>
	<key>Wall Climb Flexion</key>
	<string>2</string>
	<key>Wall External Rotation</key>
	<string>2</string>
	<key>Wall ITB Stretch</key>
	<string>1</string>
	<key>Wall Posterior Capsule Stretch</key>
	<string>1</string>
	<key>Wall Sits</key>
	<string>2</string>
	<key>Wall Sits with Ball</key>
	<string>2</string>
	<key>Wall ball</key>
	<string>1</string>
	<key>Wall climb abduction</key>
	<string>3</string>
	<key>Wall pushup</key>
	<string>2</string>
	<key>Wrist Extension - Eccentric</key>
	<string>2</string>
	<key>Wrist Flexion</key>
	<string>2</string>
</dict>
</plist>
